PROJECT_NAME="Auth Core"
APP_ENV=dev

# DB (используем имя хоста 'database' вместо 'db' для отличия)
POSTGRES_USER=neo_user
POSTGRES_PASSWORD=neo_pass
POSTGRES_DB=neo_auth_db
DATABASE_URL=postgresql+asyncpg://neo_user:neo_pass@database:5432/neo_auth_db

# Security
SECRET_KEY=change_this_to_something_very_secret_and_long
HASH_SCHEME=argon2
ARGON2_TIME_COST=2
ARGON2_MEMORY_COST=19456
ARGON2_PARALLELISM=1